body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/bg.gif');
}

.content{
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Arial, sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 150px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    height: 300px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #000000;
    color: #ccc;
}

#score-board {
    margin-top: 20px;
    margin-right: 50px;
}

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}